.board {
    display: grid;
    position: relative;
    grid-template-columns: repeat(auto, 35px);
    grid-auto-rows: 35px;        /* Bigger cells */
    gap: 0px; //gap between rows in the board;
    margin: 0 auto;
    background-color: #E6E0FF; //light purple
    border-radius: 12px;  
    max-width: 1000px; /* Larger max width */
    justify-content: center;  /* Center horizontally */
    box-shadow: 0 6px 15px rgba(0,0,0,0.15); /* More prominent shadow */
    align-items: center;      /* Center vertically (within available height) */
    height:fit-content;
    width: fit-content;
    max-height: 70vh; /* More space for the board */
  }

  
  .row {
    display: flex;
  }
  
  .cell {
    width: 35px;  /* Bigger cells */
    height: 35px; /* Bigger cells */
    display: flex;
    border: 2px solid white;   /* thick white lines */
    border-radius: 6px;        /* rounded edges */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background 0.2s;
  }

  .cell-1{
    background-color: #FF6B6B; /* cute red/pinkish color */
  }

  .cell-0{
    border: 2px solid white;
  }
  